@define-color highlight rgba(117, 241, 250, 1);
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);
@define-color text-1 rgba(200, 200, 200, 1);

* {
    font-family:  CommitMono Nerd Font Propo;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    background: none;
}

window#waybar {
    color: @text-1;
}

#workspaces button,
#submap,
#battery,
#bluetooth,
#network,
#cpu,
#memory,
#date,
#clock,
#custom-notifications,
#volume {
    border-radius: 2px;
    padding: 4px 8px 4px 8px;
    margin: 0px 2px 0px 2px;
    background: @dark-8;
}

#submap,
#workspaces button.urgent {
    background: rgba(227, 81, 73, 1);
    color: black;
}

#workspaces {
    margin-left: 3px
}

#custom-notifications {
    margin-right: 3px;
}

#workspaces button {
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    text-shadow: none;
    color: @text-1;
    background: none;
    padding: 2px 1px 2px 1px;
    margin: 0px 1px 0px 1px;
}

#workspaces button:hover {
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    text-shadow: none;
}

#workspaces button.active {
    background: @dark-8;
}

#pulseaudio-slider {
    padding: 0px;
    margin: 0px;
    margin-left: 8px;
}

#pulseaudio-slider slider {
    all: unset;
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 45px;
    border-radius: 5px;
    background: @dark-7;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @text-1;
}

tooltip {
    background: @dark-9;
    border-radius: 2px;
}

tooltip label {
    color: @text-1;
}

